:host {
    --ion-color-background: #ffffff; /* Color de fondo para el modo claro */
    --ion-color-primary: #3880ff; /* Color primario */
    --ion-color-secondary: #3dc2ff; /* Color secundario */
    --ion-color-tertiary: #7044ff; /* Color terciario */
    --ion-color-text: #000000; /* Texto para el modo claro */

    /* Colores para el modo oscuro */
    &[theme='darkMode'] {
        --ion-color-background: #2be013; /* Fondo azul oscuro */
        --ion-color-primary: #bb86fc; /* Color primario oscuro */
        --ion-color-secondary: #03dac6; /* Color secundario oscuro */
        --ion-color-tertiary: #ffab40; /* Color terciario oscuro */
        --ion-color-text: #e0e0e0; /* Texto en gris claro para el modo oscuro */
    }
}


.form-login {
    width: 80%;
    margin-left: 10%;
    margin-top: 45px;
    background-color: var(--ion-color-background); /* Usar la variable para el fondo */
    padding: 25px;
    border-radius: 15px;
    text-align: center;

    /* Asegúrate de que el texto sea visible */
    p {
        color: var(--ion-color-text); /* Color de texto según el tema */
    }
}

.form-login .form-nav {
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.form-login .form-alumno,
.form-login .form-profesor {
    margin-top: 30px;
    text-align: center;
}
body {
    background-color: var(--ion-color-background); /* Asegúrate de que el cuerpo use la variable */
}
